
<div class="modal fade" id="new-device-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New device</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <input type="hidden" name="action" />
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="text-device-id" class="col-form-label">Device Id</label>
              <input type="text" class="form-control" id="text-device-id" placeholder="Device Id" disabled>
            </div>
            <div class="form-group col-md-6">
              <label for="text-device-alias" class="col-form-label">Device Alias</label>
              <input type="text" class="form-control" id="text-device-alias" placeholder="Device Alias">
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="text-device-model" class="col-form-label">Model</label>
            <input type="text" class="form-control" id="text-device-model" placeholder="Model">
          </div>
          <div class="form-group col-md-6">
            <label for="text-device-metadata" class="col-form-label">Aditional Metadata</label>
            <input type="text" class="form-control" id="text-device-metadata" placeholder="Metadata">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="text-device-lat" class="col-form-label">Latitude</label>
              <input type="text" class="form-control" id="text-device-lat" placeholder="60.395990">
            </div>
            <div class="form-group col-md-6">
              <label for="text-device-lon" class="col-form-label">Longitude</label>
              <input type="text" class="form-control" id="text-device-lon" placeholder="5.318235">
            </div>
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" id="save-device-button" class="btn btn-primary">Save</button>
        </form>

      </div>
      <div class="modal-footer">
          dh7labs.mx
      </div>
    </div>
  </div>
</div>