<div class="modal fade" id="config-device-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Config device</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form id="configuration-form">
          <div class="form-row">
          </div>
          <hr />
          <button type="button" class="btn btn-success" data-dismiss="modal" disabled>New config</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="submit" id="save-config-button" class="btn btn-primary">Save</button>
        </form>
      </div>
      <div class="modal-footer">
          dh7labs.mx
      </div>
    </div>
  </div>
</div>
