<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Available devices.</div>
  <div class="panel-body">
    <div align="right">
      <button data-toggle="modal" data-target="#new-device-modal"  type="button" class="btn btn-success">New device</button>
      <!--button data-toggle="modal" data-target="#new-device-modal"  type="button" class="btn btn-primary">Clean config</button>      
      <button data-toggle="modal" data-target="#new-device-modal"  type="button" class="btn btn-danger">Clean db</button-->
    </div>
  </div>
  <table class="table">
    <thead> <tr align="center"> <th>Name</th> <th>Device Alias</th><th>Device Model</th><th>Creation Date</th><th>Metadata</th><th>Details</th></tr> </thead> <tbody>
{{#each devicesList}}
      <tr>
        <th scope="row">{{deviceId}}</th>
        <td>{{alias}}</td>
        <td>{{model}}</td>
        <td>{{creationDate}}</td>
        <td>{{metadata}}</td>
        <td>
          <button data-device="{{deviceId}}" 
            data-alias="{{alias}}"
            data-model="{{model}}" 
            data-metadata="{{metadata}}" 
            data-config='{{stringify configuration}}' data-toggle="modal" id="details-button"  type="button" class="btn btn-info">Details</button>
          <button data-device="{{deviceId}}" 
            data-alias="{{alias}}"
            data-model="{{model}}" 
            data-metadata="{{metadata}}" 
            data-config='{{stringify configuration}}' id="configuration-button" type="button" class="btn btn-primary">Config</button>
        </td>
      </tr>
{{/each}}
    </tbody>
  </table>

</div>

{{> deviceDetailModal }}
{{> deviceConfigurationModal }}

<script>
  var jsonobj = {{{configuration}}};  

  (() => {
    $('#details-button').on('click', function(event) {
      event.preventDefault();

      $('#text-device-id').val($(this).attr("data-device"));

      $('#text-device-model').val($(this).attr("data-model"));
      $('#text-device-alias').val($(this).attr("data-alias"));
      $('#text-device-metadata').val($(this).attr("data-metadata"));
      //$('#text-device-lat').val($(this).attr("data-device"));
      //$('#text-device-lon').val($(this).attr("data-device"));

      $("#new-device-modal").modal('show');
    });

    $('#configuration-button').on('click', function(event) {
      event.preventDefault();
      const config = JSON.parse($(this).attr("data-config"));
      $("#configuration-form div").html("");

      $.each(config, function( i, val) {
        const html = '<div class="col" align="left"><label for="' + val.name + '">' + val.name + '</label><input type="text" class="form-control" name="' + val.name + '" id="config-name-' + val.name + '" value="' + val.value + '"></div>';
        $("#configuration-form div").append(html);
      });

      $("#configuration-form").attr("device-id", $(this).attr("data-device"));
      $("#config-device-modal").modal('show');
    });



    $('#save-device-button').on('click', function(event) {
      event.preventDefault();
      const json = {
        "deviceId":$("#text-device-id").val(),
        "alias":$("#text-device-alias").val(),
        "model":$("#text-device-model").val(),
        "metadata":$("#text-device-metadata").val(),
        "latitude":$("#text-device-lat").val(),
        "longitude":$("#text-device-lon").val()
      };

      $.ajax({
          url: '/dh7/device/save',
          dataType: 'json',
          type: 'post',
          contentType: 'application/json',
          data: JSON.stringify( json ),
          processData: false,
          success: function( data, textStatus, jQxhr ){
              $("#new-device-modal").modal('hide');
               location.reload();
          },
          error: function( jqXhr, textStatus, errorThrown ){
              console.log( errorThrown );
          }
      });
    });

  $('#save-config-button').on('click', function(event) {
    event.preventDefault();
    const json = {
      "deviceId":$("#configuration-form").attr("device-id"),
      "configuration": []
    };

    $("#configuration-form input[type=text]").each(function(a, b) {
      json.configuration.push({
        "name": $(b).attr("name"),
        "value": isNaN($(b).val()) ?  $(b).val() : parseInt($(b).val())
      });
    });

    $.ajax({
      url: '/dh7/device/config/save',
      dataType: 'json',
      type: 'post',
      contentType: 'application/json',
      data: JSON.stringify( json ),
      processData: false,
      success: function( data, textStatus, jQxhr ){
          location.reload();
        },
        error: function( jqXhr, textStatus, errorThrown ){
          console.log( errorThrown );
        }
    });
  });    
})();
</script>
