<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ESP8266 Configuration Panel</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css" ></link>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" ></link>
    <link rel="stylesheet" href="/css/dh7.css" ></link>
    <script src="/js/jquery-3.1.1.min.js" ></script>
    <script src="/js/bootstrap.min.js" ></script>

    <style>

    body {
      padding-top: 50px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }

    </style>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">ESP8266 Configuration panel</a>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        {{{body}}}
      </div>

    </div><!-- /.container -->
    <footer class="footer">
          <div class="container">
            <span class="text-muted">ESP8266Configurator by <a href='http://dh7labs.mx' target="_blank">dh7labs</a>.</span>
          </div>
        </footer>

  </body>

</html>
